@import 'shared/styles/colors.scss';

.main {
  display: flex;
  height: 70vh;
  border-bottom: 2px solid $gray;
  flex-direction: column;
  background-image: url("../../assets/images/main.jpg");
  background-size: 100% 100%;
}

.mian__title-text {
  display: flex;
}

.main__title {
  display: flex;
  color: $whitesmoke;
  letter-spacing: 2px;
  align-self: center;
}

.main__search {
  display: fixed;
  height: 30vh;
  padding: 60px;
  align-items: center;
  align-self: center;
}

.main__button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.main__button-search {
  border: none;
  color: $black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 2px;
  display: inline-block;
  background-color: $lightskyblue;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: 0;
  &:hover {
    background-color: $green;
    color: white;
  }
}