@import 'shared/styles/colors.scss';

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  @media only screen and (max-width: 600px) {
    width: 40%;
    padding-top: 20px;
  }
}

.logo__text {
  display: flex;
  color: $green;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

.logo__image {
  display: flex;
  width: 60%;
}