@import 'shared/styles/colors.scss';

.tracking-flights {
  display: flex;
  flex-direction: column;
  min-height: 472px;
  padding: 20px;
  background-image: url("../../assets/images/airPlane.jpg");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  background-size: cover;
}

.tracking-flights__info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whitesmoke;
  height: 40vh;
}

.offer-delete {
  animation: fadeInFromNone 3500ms linear normal;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
