@import 'shared/styles/colors.scss';

.offer {
  display: flex;
  padding: 10px;
  background-color: $navy;
  border-radius: 7px;
  color: $white;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.offer__add_favourite{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: $gold;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.offers__icon {
  display: flex;
  font-size: 1.5rem;
}
