$white: #ffffff;
$black: #000000;
$orange: #ED7533;
$gray: gray;
$lightGray: #F8F8F8;
$darkGray:#282828;
$blue: #9198e5;
$red: #ff0000;
$lightGrey: #ccc;
$darkGrey:  #b7b7b7;
$whitesmoke: whitesmoke;
$lightskyblue:lightblue;
$green: #4caf50;
$gold: gold;
$navy: #02122C;
