@import 'shared/styles/colors.scss';

.navigation {
  display: flex;
  height: 50px;
  padding-right: 30px;
  align-self: flex-end;
  text-align: center;
}

.navigation__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation__link {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.navigation__link-text {
  display: flex;
  text-decoration: none;
  color: $gray;
}

.active {
  color:$green;
}