.navigation {
  display: flex;
  height: 50px;
  width: 70%;
  justify-content: space-around;
  align-self: flex-end;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__link {
  display: flex;
  padding-right: 30px;
}