.navigation {
  display: flex;
  height: 50px;
  width: 60%;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__link {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.navigation__link-text {
  display: flex;
  text-decoration: none;
 
}

.active {
  border: 2px solid blue;
  height: 30px;

  border-radius: 5px;
}