@import 'shared/styles/colors.scss';

.search-input {
  display: flex;
  flex-direction: column;
  max-height: 290px;
  width: 170px;
  margin-right: 15px;
}

.search-input__input {
  display: flex;
  height: 40px;
  width: 170px;
  border: 2px solid $green;
  color: $gray;
  padding: 10px;
  border-radius: 5px;
  &:focus {
    background-color: $whitesmoke;
  }
}

.search-input__list-items {
  display: flex;
  max-width: 168px;
  max-height: 230px;
  align-items: center;
  justify-content: center;
  overflow: auto;
  list-style: none;
  background-color: $whitesmoke;
}

.search-input__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-input__item-button {
  display: flex;
  width: 150px;
  height: 40px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  text-align: center;
  background-color: $lightGrey;
  border: none;
  border-bottom: 1px solid $gray;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $lightGray;
  }
}